body {
    background: gray;
}

#main-grid {  
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-content: center;
}

.grid-h {    
    background-color: white;
    transition: background-color 0.3s;
}