body {
    background: rgb(178, 178, 178);    
}

#main-grid {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center; 
    box-shadow: 0px 0px 10px rgb(82, 82, 82);   
}

#buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 40px;
}

#buttons button {
    background-color: rgb(241, 241, 241);
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

#buttons button:hover {
    background-color: rgb(138, 138, 138);
    transition: background-color 0.2s;
}

#info-grid {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}


.grid-h {    
    background-color: white;
    transition: background-color 0.3s;
    align-self: center;
}